<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856287010490-8iinur3bijmso1mh1e7n5fdue1458gfo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856287010490-8iinur3bijmso1mh1e7n5fdue1458gfo</string>
	<key>API_KEY</key>
	<string>AIzaSyDvB5VvGw5glP5ZurXgfSGdBQS55OIXTis</string>
	<key>GCM_SENDER_ID</key>
	<string>856287010490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseLogin</string>
	<key>PROJECT_ID</key>
	<string>loginsytem-82f02</string>
	<key>STORAGE_BUCKET</key>
	<string>loginsytem-82f02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856287010490:ios:0c074bd537ccfb44b82c83</string>
</dict>
</plist>